@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --darkBg: 17,17,17;
  --darkPrim: 25,25,25;
  --fontColorDark: 204, 204, 204;

  --lightBg: 149, 165, 166;
  --lightPrim: 236, 240, 241;
  --fontColorLight: var(--darkBg);

  --accent: 71,178,158;

  --finalBg: var(--lightBg);
  --finalPrim: var(--lightPrim);
  --finalFont: var(--fontColorLight)
}

html,
body {
  padding: 0;
  margin: 0;
  color: rgb(var(--fontColorLight));
}
::selection {
  background-color: rgb(var(--accent));
  color: rgb(var(--fontColorLight));
}

.bg {
  background-color: rgb(var(--lightBg));
}
.bgPrim {
  background-color: rgb(var(--lightPrim));
}
.font {
  color: rgb(var(--fontColorLight))
}
.bgAccent {
  background-color: rgb(var(--accent))
}

@media (prefers-color-scheme: dark) {
  .bg {
    background-color: rgb(var(--darkBg));
  }
  .bgPrim {
    background-color: rgb(var(--darkPrim));
  }
  .font {
    color: rgb(var(--fontColorDark));
  }
  html, body {
    color: rgb(var(--fontColorDark));
  }
  :root {
    --finalBg: var(--darkBg);
    --finalPrim: var(--darkPrim);
    --finalFont: var(--fontColorDark);
  }
}